<h4 class="title">Forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{forecastData.city.name }} {{pincode}}</h3>

    </div>
    <ul class="list-group" *ngFor="let foreCastData of forecastData.list; let i = index">
      <!---->
      <li class="list-group-item">
        {{(foreCastData.dt | dateChange | date:'fullDate')}}

        - Min: {{foreCastData.temp.min|round}} <span>&#8451;</span>
        - Max: {{foreCastData.temp.max|round}} <span>&#8451;</span>

        <span class="iconSpac" style="margin-left: 50px;"> {{foreCastData.weather[0].main}}
        <img class ="wIcon" *ngIf="weatherImg[foreCastData.weather[0].main]" src="{{baseWeatherImgPath + weatherImg[foreCastData.weather[0].main]}}">

      </span>
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" (click)="goBackWeather()">&lt; Back to main page</button>
</div>