<h4 class="title">My Weather App</h4>

<div class="container-fluid">
  <form name="weatherForm" [formGroup]="weatherForm" (ngSubmit)="weatherForm.valid && onSubmit()">
    <div class="well form-sec">
      <h2>Enter a zipcode:</h2>
      <input class="form-control" formControlName="zipcode"  placeholder="Zipcode"  type="text" >
      <div
        *ngIf="( weatherForm.get('zipcode').touched || weatherForm.Invaild || weatherForm.submitted) && weatherForm.get('zipcode').errors ">
        <div *ngIf="weatherForm.get('zipcode').errors.required || weatherForm.invaild " class="text-danger">Zipcode is
          required</div>
        <div *ngIf="weatherForm.get('zipcode').errors.pattern" class="text-danger">Zipcode is Invaild</div>
      </div>
      <br>
      <button class="btn btn-primary" id="addLocationBtn" [disabled]="!weatherForm.valid">
    Add location
  </button>
    </div>
  </form>

  <div *ngIf="isSpinner" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngFor="let weatherData of weatherDataResults; let i = index">
    <div class="well flex">
      <div>
        <h3>{{weatherData.data.name}}</h3>
        <h4 *ngIf="weatherData">Current conditions: {{weatherData.data.weather[0].main}}</h4>
        <h4>Temperatures: {{weatherData.data.main.temp|round}} <span>&#8451;</span></h4>
        <p>Feels Like: {{weatherData.data.main.feels_like|round}} <span>&#8451;</span></p>

        <p> Min Today: {{weatherData.data.main.temp_min|round}} <span>&#8451;</span></p>
        <p> Max Today: {{weatherData.data.main.temp_max|round}} <span>&#8451;</span></p>

        <p>Humidity: {{weatherData.data.main.humidity}} %</p>
        <p>
          <a href="{{weatherData.forecastLink}}">Show 5-day forecast for {{weatherData.data.name}}</a>
        </p>
      </div>
      <div>
        <span class="close" (click)="deleteCity(i)">×</span>
        <img *ngIf="weatherImg[weatherData.data.weather[0].main]" src="{{baseWeatherImgPath + weatherImg[weatherData.data.weather[0].main]}}">
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>